.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

.App-Title {
    color: #6d4c41;
    font-family: ".AppleSystemUIFont";
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes Cell-open {
    from {
        background: #78909c;
    }
    to {
        background: #37474f;
    }
}

.Cell {
    color: #CFD8DC;
}

.PrimaryButton {
    outline: #009688 solid thin;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    background: white;
    margin-top: 24px;
}

.PrimaryButton:hover {
    background-color: #009688;
    color: white;
    cursor: pointer;
}

.PrimaryButton:active {
    background-color: #00796b;
}

.Board {
    display: inline-block;
}

.Cell {
    animation-name: Cell-open;
    animation-duration: 500ms;
    animation-timing-function: linear;
}

ul li {
    color: #282c34;
    font-size: 24px;
    padding-top: 4px;
    list-style-type: none;
}

ul li:hover {
    color: #607D8B;
}

ul li:active {
    color: #455A64;
}